<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">

        </script>

        <style type="text/css">
        </style>
    </head>


    <body>

        <h2>保留变量使用</h2>
        <div><?php echo $_GET['name']; ?></div>
        <div>{$name}</div>
        <div>名字：{$smarty.get.name}</div>
        <div>年龄：{$smarty.get.age}</div>
        <div>主机名：{$smarty.const.HOST}</div>
        <div>时间戳：{$smarty.now}</div>
        <div>当前模板名称：{$smarty.template}</div>
        <div>模板目录名称：{$smarty.current_dir}</div>
        <div>模板引擎版本：{$smarty.version}</div>
        <div>模板引擎定界符：{$smarty.ldelim}--{$smarty.rdelim}</div>

    </body>
</html>