<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">

        </script>

        <style type="text/css">
        </style>
    </head>


    <body>
        <h2>数组元素访问</h2>
        {$fruit[2]}<br />
        {$fruit.3}<br />
        {$animal['northeast']}<br />
        {$animal.helan}<br />

        {*
        {$数组[][][]}
        {$数组.....}
        {$数组[].[].}
        *}
    </body>
</html>