<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">

        </script>

        <style type="text/css">
        .gy{ background-color:gray; }
        .bl{ background-color:blue; }
        </style>
    </head>

    <body>
        <h2>数组遍历-应用</h2>
        <ul>
        {foreach $animal as $v}
            {if $v@first}
            <li class="gy">
            {elseif $v@iteration%2==1}
            <li class="bl">
            {else}
            <li>
            {/if}
            
            {$v}
            </li>
        {/foreach}
        </ul>
    </body>
</html>